body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 20px;
}

.board {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.board .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row .cell {
  height: 100px;
  width: 100px;
  color: white;
  /* background-color: aliceblue; */
  background-color: black;
  border: 0.5px solid grey;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}